{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post_extract %}
{% block title %}Category {{ this.name }}{% endblock %}
{% block body %}
  <h1>Category {{ this.name }}</h1>

  {% for category in site.query('/categories') %}
    <a href="{{ category|url }}">
    <span {% if category._id == this._id %} class="label label-primary" {% else %} class="label label-default" {% endif %}>
    {{ category.name }}</span></a>
  {% endfor %}

  <div class="blog-list">
    <ul>
    {% for child in this.children %}
      {{ render_blog_post_extract(child) }}
      {% if not loop.last %}
        <!-- <hr> -->
      {% endif %}
    {% endfor %}
    </ul>
  </div>

{% endblock %}
