.active {
    text-decoration: underline;
}
code {
    word-wrap: break-word;
}

#content { border-left:1px dotted #C8C8C8; }
/*#sidebar { border-bottom:1px dotted #C8C8C8; }*/

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
  padding-top: 5px;
}

.blog-post-extract {
  margin-top: 5%;
  margin-bottom: 5%;
}

.blog-list {
  margin-top: 10%;
}
